@import url("https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap');
body {
    background: red;
    color: white;
    font-size: 16px;
}

.tabin {
    padding-left: 5vw;
}

.content { 
    color: black; 
    background: white;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    padding: 12px;
}

.content input {
    font-size: 3em; 
    font-family: 'Zilla Slab',serif;
    padding: 4px; 
    border: none;
    border-bottom: 3px dashed black;
    width: 80%;
}
h1 {
    font-family: "Spicy Rice", cursive;
    margin: 0;
    font-size: calc(64px + 0.5vw);
}

.content p {
    font-size: 2em;
    font-family: 'Zilla Slab',serif;
