@import url("https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap');

@viewport {
    width: device-width ;
    zoom: 1.0 ;
  } 

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    background: red;
    color: white;
    font-size: 16px;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

main {
    overflow: visible;
}
.tabin {
    padding-left: 5vw;
}

.content { 
    color: black; 
    background: white;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    padding: 12px;
    margin-bottom: 50px;
}

#formit input {
    height: 50px;
    font-size: 50px; 
    font-family: 'Zilla Slab',serif;
    padding: 4px; 
    border: none;
    border-bottom: 3px dashed black;
    width: 80%;
}
h1 {
    font-family: "Spicy Rice", cursive;
    margin: 0;
    font-size: 6vmax;
}

.content p {
    font-size: 3.0vh;
    font-family: 'Zilla Slab',serif;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    white-space: nowrap;
    padding-top: 2.0vh;
    padding-bottom: 2.0vh;
    background: red;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li { display: inline; }
nav ul li a {
    float: left; 
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
}
nav ul li a.current {
background: black;
}

form { 
    display: inline;
}

svg#reload {
    fill: white;
}

/* span styles related to keys in megahype.json */
span.bookname {
    font-style: italic;
}